@forward './scss/globals/';
@use './scss/util/' as u;

body {
  min-height: 100vh;
  min-width: 100vw;
  display: grid;
  justify-content: center;
  text-align: center;
  padding-inline: 1em;
  background-image: url('./assets/images/background.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  @font-face {
    font-family: 'Pokemon Classic';
    src: url(assets/Pokemon\ Classic.ttf) format('ttf');
  }

  font-family: 'Pokemon Classic', sans-serif;
  color: white;
}

.logo {
  @include u.breakpoint-up(medium) {
    width: u.rem(600);
    height: u.rem(180);
  }

  margin-block: 0.5em;
  width: u.rem(350);
  height: u.rem(130);
  font-size: 2rem;
  font-weight: bolder;
  letter-spacing: 25px;
}

.subtitle {
  color: hsla(0, 0%, 100%, 0.75);
}
