@forward './scss/globals/';
@use './scss/util/' as u;

body {
  min-height: 100vh;
  min-width: 100vw;
  background-image: url('./assets/images/background.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  @font-face {
    font-family: 'Pokemon Classic';
    src: url(assets/Pokemon\ Classic.ttf) format('ttf');
  }

  font-family: 'Pokemon Classic', sans-serif;
  color: white;
}
